
{% for entry in site.data.navigation %}
    {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% assign sublinks = entry.sublinks %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif sublinks %}
        {% for sublink in sublinks %}
            {% capture fullurl %}{{ site.baseurl }}{{ sublink.url }}{% endcapture %}
            {% if fullurl == page.url %}
                {% assign current_page = fullurl %}
                {% break %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<nav id="navbar" state="">
    <div class="background"></div>

    <div class="banner">
        <a href="/" class="logo">
            {{ site.title }}
        </a>

        <div id="nav-icon3" class="menu-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    
    <div id="link_container">

        {% for entry in site.data.navigation %}
            {% if entry.url == current_page %}
                {% assign current = ' class="current"' %}
            {% else %}
                {% assign current = null %}
            {% endif %}
            {% assign sublinks = entry.sublinks %}
            {% if sublinks %}
            <div class="expandable_nav_link">
                <a{{ current }} href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>

                <button type="button"><i class="fas fa-chevron-down"></i></button>

                <div class="sublink">
                    {% for sublink in sublinks %}
                        {% if sublink.url == current_page %}
                            {% assign current = ' class="current"' %}
                        {% else %}
                            {% assign current = null %}
                        {% endif %}
                    <a{{ current }} href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <a{{ current }} href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
</nav>
